<div class="timeline-container left">
    <div class="timeline-content">
        <div class="timeline-time">08:00 - 09:30</div>
        <h4 class="text-xl font-semibold text-gray-800 mb-2">Accueil des visiteurs</h4>
        <p class="text-gray-600">Ouverture des portes et enregistrement des participants</p>
    </div>
</div>