<div class="timeline">
    {% for event in events %}
        {{ include('program/timeline/container.html.twig', {
            event: event,
            position: loop.index0 is even ? 'left' : 'right'
        }) }}
    {% endfor %}
</div>
