<div class="flying-plane text-blue-400 text-4xl">
    <i class="fas fa-fighter-jet"></i>
</div>
<div class="flying-plane text-blue-500 text-4xl" style="animation-delay: 3s; top: 30%;">
    <i class="fas fa-plane"></i>
</div>
<div class="flying-plane text-blue-600 text-4xl" style="animation-delay: 7s; top: 60%;">
    <i class="fas fa-helicopter"></i>
</div>