<section id="accueil" class="hero flex items-center justify-center text-white relative overflow-hidden">
    {{ include('components/video.html.twig') }}
    <div class="container mx-auto px-6 text-center hero-content">
        <div class="mb-6">
                <span class="inline-block px-4 py-1 bg-blue-600 rounded-full text-sm font-semibold tracking-wider">
                    30 JUIN - 6 JUILLET 2025
                </span>
        </div>
        <h1 class="text-5xl md:text-7xl font-bold mb-6 title-font tracking-tight">AÉROFESTIVAL</h1>
        <p class="text-xl md:text-2xl mb-8 uppercase tracking-wider section-title-font">MEETING AÉRIEN DE L'AÉROCLUB DE VILLENEUVE-SUR-LOT</p>
        <div class="flex flex-col md:flex-row justify-center space-y-4 md:space-y-0 md:space-x-6 mt-12">
            <a href="#programme" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded-full transition duration-300 transform hover:scale-105 flex items-center justify-center">
                <span>PROGRAMME COMPLET</span>
            </a>
            <a href="#contact" class="bg-transparent border-2 border-white hover:bg-white hover:text-gray-900 text-white font-bold py-3 px-8 rounded-full transition duration-300 transform hover:scale-105">
                NOUS CONTACTER
            </a>
        </div>
    </div>
</section>
