<div class="swiper-slide">
    <div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-center h-32">
        <img src="{{ asset('uploads/partners/' ~ partner.image) }}" alt="{{ partner.title }}" class="max-h-20" />
    </div>
</div>